.card-img-top {
   width: 100%;
}
.card{
    width: 360px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
a{ 
    display: inline-block;
    margin-top: 20px;
    background-color: black;
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
}
